
<div class="container">
  <div class="row">
    <% @journals.each do |journal| %>
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="card-header">
          <h3><%= link_to journal.title, journal_path(journal.id) %></h3>
        </div>
        <div class="card-body">
          <%= link_to "View", journal_path(journal.id), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <% end %>
    
    <% @categories.each do |category| %>
      <%= link_to category.name, journals_path(:cate => category.id) %>
    <% end %>
  </div>
</div>


  






