<div class="flex-row d-flex justify-content-center">

<h1>Categories index</h1>

  <div class="col-md-8">
    <div class="card mt-5">
      <div class="card-body">
        <% @categories.each do |category| %>
          <div class="form-group mb-3">
            <h3><%= link_to category.name, category_path(category.id) %></h3>
          </div>
        <% end %>
        <div class="form-group mb-3">
          <%= link_to "Create Category", new_category_path %>
        </div>
      </div>
    </div>
  </div>
</div>